/*
  ==============================
  Forms
  ==============================
*/

.form {
    background-color: white;
  }
  
  .form-title {
    color: #0a3355;
    font-family: "Helvetica";
    font-size: 36px;
    color: var(--headingsColor);
    font-family: var(--headingsAndButtonsFont);
    font-size: var(--headingBaseSizeFont);
  }
  
  .form button {
    margin-left: 10px;
    font-family: "Helvetica";
    font-family: var(--headingsAndButtonsFont);
  }
  
  .form-flex {
    display: flex;
    width: 100%;
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .form-flex {
      display: inline-block;
    }
  }
  
  /*
    ==============================
    Columns
    ==============================
  */
  
  .form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .form-row-full .form-column {
    width: 100%;
  }
  
  .form-row-half .form-column {
    width: 48%;
  }
  
  .form-error-container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .form-error {
    font-size: 12px;
    color: red;
  }
  
  ::-webkit-input-placeholder {
    color: #576977;
    color: var(--secondaryTextColor);
  }
  
  ::-moz-placeholder,
  :-ms-input-placeholder {
    margin-left: 10px;
    color: #576977;
    color: var(--secondaryTextColor);
  }
  
  .form-base {
    border-radius: 7px;
    outline: 0;
    height: 40px;
    line-height: 35px;
    padding-left: 10px;
    width: auto;
    margin-left: 10px;
    font-size: 16px;
    color: #222222;
    border: #b2b2b2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: var(--baseSizeFont);
    color: var(--bodyTextColor);
    border: 1px solid var(--borderPageColor);
    font-family: var(--bodyTextFont);
  }
  
  .form-base::placeholder {
    color: #576977;
    color: var(--secondaryTextColor);
  }
  
  .form-group {
    margin-top: 1rem;
    flex-direction: column;
  }
  
  .form-group .form-suggestion {
    position: relative;
    margin-left: 10px;
    width: auto;
  }
  
  .form-field {
    flex-direction: column;
    display: flex;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .label {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-transform: none !important;
    color: #222222 !important;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: var(--bodyTextColor) !important;
    font-size: var(--baseSizeFont);
    font-family: var(--bodyTextFont);
  }
  
  span.required {
    color: red;
  }
  
  .description {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #576977;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: var(--secondaryTextColor);
    font-size: var(--baseSizeFont);
    font-family: var(--bodyTextFont);
  }
  
  .hint {
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    color: #576977;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: var(--secondaryTextColor);
    font-size: var(--baseSizeFont);
    font-family: var(--bodyTextFont);
  }
  
  /*
    ==============================
    Search Suggestion
    ==============================
  */
  
  .form-suggestion {
    padding: 30px;
    margin-top: 10px;
    max-height: 500px;
    overflow-y: scroll;
    background: #fff;
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow: auto;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    text-align: left;
  }
  
  .form-suggestion-article {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .form-suggestion-article:hover a {
    color: #005fad;
    color: var(--linkTextHoverColor);
  }
  
  .form-suggestion-label {
    color: #0a3355;
    color: var(--headingsColor);
  }
  
  .form-suggestion-label-divider {
    background-color: #e9eff5;
    height: 2px;
    width: auto;
    margin-top: 5px;
  }
  
  /*
    ==============================
    Textarea
    ==============================
  */
  
  .form-field-textarea {
    min-height: 150px;
    width: auto;
    color: #222222;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: var(--bodyTextColor);
    font-family: var(--bodyTextFont);
  }
  
  .form-field-textarea::placeholder {
    color: #576977;
    color: var(--secondaryTextColor);
  }
  
  .form-field-textarea-charCount {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;
    color: #9A9A9A;
  }
  
  .form-field-textarea-charCountOver {
    color: red;
  }
  
  /*
    ==============================
    Radio
    ==============================
  */
  .form-field-radio-group {
    display: flex;
    outline: 0;
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 10px;
    color: #222222;
    color: var(--bodyTextColor);
  }
  
  .form-field-radio-input[type="radio"] {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .form-field-radio-input[type="radio"]:not(:checked) + label::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 3px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid gray;
  }
  
  .form-field-radio-input:checked + label::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 3px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid rgb(100, 100, 100);
    -moz-box-shadow: inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    box-shadow: inset 0 0 2px #000000;
  }
  
  .form-field-radio-input:checked + label::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: rgb(100, 100, 100);
    top: 8px;
    left: 5px;
    border-radius: 100%;
  }
  
  .form-field-radio-label {
    line-height: 14px;
  }
  
  /*
    ==============================
    Checkbox
    ==============================
  */
  .form-field-checkbox-group {
    display: flex;
    outline: 0;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    position: relative;
    margin-left: 10px;
  }
  
  .form-field-checkbox-input[type="checkbox"] {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .form-field-checkbox-input[type="checkbox"]:not(:checked) + label::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 3px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid gray;
  }
  
  .form-field-checkbox-input:checked + label::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 3px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgb(100, 100, 100);
    -moz-box-shadow: inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    box-shadow: inset 0 0 2px #000000;
  }
  
  .form-field-checkbox-input:checked + label::after {
    content: "✔";
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    color: rgb(100, 100, 100);
    top: 5px;
    left: 5px;
    border-radius: 3px;
    font-size: 12px;
  }
  
  .form-field-checkbox-label {
    line-height: 14px;
  }
  
  /*
    ==============================
    Dropdown
    ==============================
  */
  
  .form-field-dropdown {
    margin-bottom: 10px;
    position: unset;
  }
  
  .form-field-hidden-input {
    width: auto;
    position: absolute;
    background: transparent;
    top: 0;
    border: none;
    outline: none;
    height: 40px;
    display: none;
  }
  
  .form-field-select-group {
    -webkit-appearance: none;
    background-color: white;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0;
    display: flex;
  }
  
  .form-field-select-options {
    position: relative;
  }
  
  .form-field-select-options-overlay {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    outline: 0;
    line-height: 35px;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: -1px;
    margin-left: 10px;
    width: 98%;
    background-color: white;
    z-index: 1;
  }
  
  .form-field-select-option-placeholder {
    color: #576977;
    color: var(--secondaryTextColor);
    width: 100%;
  }
  
  .form-field-select-option-label {
    width: 100% !important;
    max-width: 100% !important;
  }
  
  .form-field-select-option-arrow {
    color: #576977;
    color: var(--secondaryTextColor);
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .form-field-select-option:hover {
    background-color: rgb(230, 230, 230);
  }
  
  .form-field-select-option span {
    margin-left: 10px;
  }
  
  .form-field-select-group .form-field-select-option-label,
  .form-field-select-option span {
    display: block;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .form-field-native-select-group {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  width="24" height="24" viewBox="0 0 36 20"><path fill="gray" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg>');
    background-position-x: 100%;
    background-position-y: 5px;
    background-repeat: no-repeat;
    width: calc(100% - 10px);
  }
  
  /*
    ==============================
    Tree
    ==============================
  */
  
  .form-field-tree-group {
    -webkit-appearance: none;
    background-color: white;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0;
    display: flex;
  }
  
  .form-field-tree-options {
    position: relative;
  }
  
  .form-field-tree-options-overlay {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    outline: 0;
    line-height: 35px;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: -1px;
    margin-left: 10px;
    width: 98%;
    background-color: white;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 1;
  }
  
  .form-field-tree-option-placeholder {
    color: #576977;
    color: var(--secondaryTextColor);
    width: 80%;
  }
  
  .form-field-tree-option-label {
    width: 80%;
    max-width: 80%;
  }
  
  .form-field-tree-arrow {
    color: #576977;
    color: var(--secondaryTextColor);
  }
  
  .form-field-tree-clear {
    color: #576977;
    color: var(--secondaryTextColor);
    margin-right: 5px;
  }
  
  .form-field-tree-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }
  
  .form-field-tree-option:hover {
    background-color: rgb(230, 230, 230);
  }
  
  .form-field-tree-option {
    cursor: pointer;
  }
  
  .form-field-tree-option div {
    display: inline-block;
  }
  
  .form-field-tree-option > .form-field-tree-arrow {
    margin-right: 5px;
    margin-left: 5px;
    width: initial;
  }
  
  .form-field-tree-group .form-field-tree-option-label,
  .form-field-tree-option span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-left: 10px;
  }
  
  /*
    ==============================
    Images
    ==============================
  */
  
  .form-images {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .form-image {
    width: 200px;
    height: 200px;
    margin: 5px;
  }
  
  /*
    ==============================
    Attachment
    ==============================
  */
  
  .form-attachment {
    border: 1px solid red;
    display: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .form-file-button {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 3px 10px;
    height: 30px;
    width: 110px;
    background-color: rgb(250, 250, 250);
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    font-family: "Helvetica";
    font-size: var(--baseSizeFont);
    font-family: var(--headingsAndButtonsFont);
  }
  
  .form-file-button:hover {
    cursor: pointer;
  }
  
  .form-file-attachment {
    width: 194px;
    height: 35px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .form-file-attachment-name {
    width: 80%;
  }
  
  .form-file-attachment-close {
    width: 20%;
    display: flex;
    justify-content: center;
  }
  
  .form-file-attachment-close:hover {
    cursor: pointer;
  }
  
  /*
    ==============================
    Article Deflection 
    ==============================
  */
  
  .form-deflection-prompt-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #dbdadf;
    background-color: #f9fafc;
    padding: 15px;
    font-size: 16px;
  }
  
  .form-deflection-prompt-text {
    margin-right: 40px;
    color: #222222;
    color: var(--bodyTextColor);
  }
  
  .form-modal-success-icon,
  .form-deflection-success-icon {
    display: flex;
    justify-content: center;
    color: #80ce69;
    font-size: 30px;
  }
  
  .form-deflection-item-article-cta-button {
    border: none;
    padding: 10px 30px;
    border-radius: 3px;
    font-family: "Helvetica";
    background-color: #0a3355;
    color: #ffffff;
    font-size: 16px;
    font-family: var(--headingsAndButtonsFont);
    background-color: var(--primaryButtonColor);
    color: var(--primaryButtonTextColor);
    font-size: var(--baseSizeFont);
  }
  
  .form-deflection-item-article-cta-button:hover {
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    .form-deflection-prompt-container {
      flex-direction: column;
    }
  
    .form-deflection-prompt-text {
      margin: 0 auto 10px;
    }
  }
  
  /*
    ==============================
    Modal
    ==============================
  */
  
  /* The Modal (background) */
  .form-modal {
    display: flex;
    position: fixed; /* Stay in place */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  .form-modal-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-modal-box {
    max-width: 600px;
    width: 80%;
    position: relative;
  }
  
  /* Modal Content */
  .form-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    overflow-y: scroll;
    max-height: 700px;
  }
  
  @media only screen and (max-width: 768px) {
    .form-modal-box {
      max-height: 100%;
      max-width: 100%;
      width: 100%;
    }
  
    .form-modal-content {
      height: 100%;
      max-height: 100%;
      width: 100%;
      -webkit-overflow-scrolling: touch;
    }
  }
  
  /* The Close Button */
  .form-modal-close {
    display: flex;
    justify-content: flex-end;
  }
  
  .form-modal-close:hover,
  .form-modal-close:focus {
    color: #000;
    cursor: pointer;
  }
  
  .form-modal-success-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .form-modal-success-container-no-results {
    margin: 50px auto;
  }
  
  .form-modal-success {
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #222222;
    font-size: var(--baseSizeFont);
    font-family: var(--bodyTextFont);
    color: var(--bodyTextColor);
  }
  
  .form-modal-divider {
    margin: 20px auto;
    background-color: #dbdadf;
    height: 1px;
  }
  
  .form-deflection-header {
    font-size: 18px;
    font-weight: bold;
  }
  
  .form-deflection-description {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #222222;
    font-size: var(--baseSizeFont);
    font-family: var(--bodyTextFont);
    color: var(--bodyTextColor);
    margin: 15px auto;
  }
  
  .form-deflection-item {
    border-radius: 3px;
    border: solid 1px #dbdadf;
    margin-bottom: 15px;
  }
  
  .form-deflection-item-article {
    padding: 20px;
  }
  
  .form-deflection-item-article-name {
    font-weight: bold;
    display: flex;
    align-items: baseline;
    font-size: 16px;
    color: #0a3355;
    font-family: "Helvetica";
    font-size: var(--baseSizeFont);
    color: var(--headingsColor);
    font-family: var(--headingsAndButtonsFont);
  }
  
  .form-deflection-item-article-body {
    margin: 10px 0;
    font-size: 14px;
  }
  
  .form-deflection-item-article-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-deflection-item-article-read-more,
  .form-deflection-item-article-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    color: #0a3355;
    color: var(--linksColor);
  }
  
  .form-deflection-item-article-link {
    margin-left: 5px;
    line-height: 16px;
  }
  
  .form-deflection-item-article-read-more i {
    line-height: 14px;
  }
  
  .form-deflection-item-article-read-text {
    margin-left: 5px;
    color: #0a3355;
    color: var(--linksColor);
  }
  
  .form-deflection-item-article-cta {
    border-top: 1px solid #dbdadf;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    background-color: var(--secondaryBackgroundPageColor);
  }
  
  .form-deflection-item-article-cta-text {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #222222;
    font-size: var(--baseSizeFont);
    font-family: var(--bodyTextFont);
    color: var(--bodyTextColor);
  }
  
  /*
    ==============================
    Phone
    ==============================
  */
  
  .form-phone-container {
    margin-left: 10px;
  }
  